:root {
  --c-white: #FFFFFF;
  --c-pink-300: #f9a0a2;
  --c-pink-200: #FAD0D1;
  --c-pink-100: #fff1f1;
  --c-green-500: #d0c0d1;
  --c-green-300: #d0c0d1;
  --c-green-200: #d0c0d1;
  --c-green-100: #d0c0d1;
  --c-green-50: #e5f4ed;
  --c-border: #2c2c2c;
  --b-xs: 1px;
  --b-sm: 2px;
  --b-md: 3px;
  --b-bg: 5px;
}